* {
    margin: 0;
}

body{
    background: #25292b;
}

.chat{
    background-color: #ab5153;
    width: 20%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    border-bottom-left-radius: 10px;
}

#message_bar{
    display: flex;
    flex-direction: row;
}

.sendMessage{
    margin-bottom: 5px;
    margin-left: 5px;
    color: white;
}

.messageWindow{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.tableContainer {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    overflow-y: auto;
}

.tableContainer::-webkit-scrollbar {
    width: 12px;
}

.tableContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.tableContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.enterMessage{
    border-radius: 15px;
    flex-grow: 2;
    background: #e87477;
    color: white;
    margin-right: 3px;
    font-family: "Open Sans";
    border: none;
}

#send_button{
    border-radius: 15px;
    flex-grow: 1;
    background-color: #e87477;
    border: none;
}

::placeholder{
    color: white;
    opacity: 0.7;
}

.messageWindow{
    font-family: "Open Sans";
    font-size: 16px;
    margin-left: 15px;
    margin-bottom: 10px;
    color: white;
}