#bal_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

body{
    background-color: #1c2325;
}

ul{
    list-style-type:none;
}

.left{
    display: flex;
    text-align: left;
    background-color: #0e0d0d;
}

#headText{
    font-family: "Open Sans";
    margin-left: 10px;
    margin-top: 150px;
    color: #f1f1f1;
}

#requestList{
    margin-top: 125px;
}

.user{
    color: #f1f1f1;
    font-family: "Open Sans";
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
    margin-right: 15px;
    text-align: left;
}

a{
    text-decoration: none;
}

.center{
    text-align: center;
}

.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    display: table;
    height: 64px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
}

img{
    max-height: 125px;
    max-width: 125px;
}

#confirm-btn {
    font-size: 20px;
    color: white;
    width: 110px;
    background: #2c7640;
    height: 40px;
    text-align: center;
    margin-right: 5px;
}

#delete-btn {
    font-size: 20px;
    color: white;
    width: 110px;
    background: #ab5153;
    height: 40px;
    text-align: center;
}

#confirm-btn:hover {
    opacity:1;
}

#delete-btn:hover {
    opacity:1;
}

#buttons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#container{
    display: flex;
    flex-direction: row;
    width: 30%;
    border:1px solid gray;
    background-color: #0e0d01;
    justify-content: space-evenly;
    align-items: center;
}
