/* Import Font Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
* {
    margin: 0;
}

body {
    background-color: #25292b;
    font-family: Arial;
    overflow: hidden;
}

.navigate-top {
    background-color:  #242424;
    color: #333;
    height: 70px;
}

.title {
    font-family: 'Poiret One', cursive;
    padding-top: 15px;
    position: absolute;
    left: 45%;
    color: #f1d9d7;
}

.navigate-side {
    background-color: #ab5153;
    color: #333;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 70%;
    left: 0;
    padding-top: 20px;
    position: absolute;
    top: 70px;
    width: 250px;
    margin-top: 77px;
    margin-left: 50px;
}

.profile {
    margin-bottom: 20px;
    margin-top: -12px;
    text-align: center;
    color: #f1d9d7;
}
.games-text{
    text-align: left;
}

.profile img {
    border-radius: 50%;

    box-shadow: 0px 0px 5px 1px grey;
}

.name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}
.main {
    margin-top: 2%;
    margin-left: 29%;
    font-size: 28px;
    padding: 0 10px;
    width: 58%;
}
.main h1{
    color: #f1f1f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}
.main .card {
    background-image: linear-gradient(to right, #ab5153, #8d0518);
    background-color: #ab5153;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
    color: #f1d9d7;
    margin-top: 77px;
}
.main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
    font-size: 30px;
}
#logo{
    max-height: 125px;
    max-width: 125px;
}

#logo:hover{
    filter: brightness(110%);
}

h3, h2, li{
    color: #f1d9d7;
}

#name{
    font-size: 70px;
}
.gamelist{
    background-image: linear-gradient(to right, #ab5153, #8d0518);
    background-color: #ab5153;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 0px;
    color: #f1d9d7;
}
.gamelist-f{
    background-image: linear-gradient(to right, #ab5153, #8d0518);
    background-color: #ab5153;
    height: auto;
    margin-top: 70px;
    margin-bottom: 20px;
    padding: 20px 0 20px 0px;
    color: #f1d9d7;
}
.balance{
    font-size: 69px;
}
.add-image{
    padding: 20px 20px 20px 20px;
}
.image-buttons{
    display: flex;
    flex-direction: row;
}

.image-button{
    background: #ab5153;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.friendreq-button{
    background: #ab5153;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    color:white;
}

input[type="file"] {
    color: black;
    border-radius: 20px;
}

.image-button, #user_bar{
    color: white;
    font-size: 16px;
}

#user_bar{
    margin-left: 15px;
    font-size: 22px;
}

.image-button:hover{
    filter: brightness(120%);
}

.balance{
    text-overflow: ellipsis;
    overflow: hidden;
}

#Logout_buttone{
    background: #ab5153;
    border-radius: 20px;
    font-size: 20px;
    color: white;
}

#Logout_buttone:hover{
    filter: brightness(120%);
}


tr{
    color: #f1d9d7;

}

#inner_friend{
    text-decoration: none;
    color: white;
}

tr{
    color: #f1d9d7;
}

#inner_friend {
    text-decoration: none;
}

.transfer-button{
    background: #ab5153;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    color: white;
}
.transfer-amount{
    margin-top: 20px;
    border: solid 1px #faf6f6;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    background: -webkit-gradient(linear, left top, left 25, from(#ba1d1d), color-stop(4%, #571b1b), to(#d56868));
    background: -moz-linear-gradient(top, #aa5656, #ce6868 1px, #a73d3d 25px);
    box-shadow: rgba(255, 255, 255, 0.41) 0px 0px 8px;
    -moz-box-shadow: rgb(255, 255, 255) 0px 0px 8px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.64) 0px 0px 8px;
    width: 50px; !important;
    text-decoration-color: #f1f1f1;
    -webkit-text-fill-color: white;
}
.transfer-amount type{
    color: white;
}
.img-style{
    width: 130px;
    height: 130px;
}

.transfer-button:hover{
    filter: brightness(120%);
}

.friendreq-button:hover{
    filter: brightness(120%);
}