#upper-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#dist {
    margin-top: 160px;
}

#title-format {
    font-size: 75px;
    color: white;
    text-align: center;
}

.container {
    margin: auto;
    width: 600px;
    height: 220px;
    border: 3px solid #ab5153;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.center-spin-button {
    margin: auto;
    width: 700px;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#spin-button {
    font-size: 40px;
    color: white;
    width: 130px;
    background: #ab5153;
    border-radius: 7px;
    margin-top: 10px;
}

.center {
    margin: auto;
    justify-content: space-between;
}

.slot {
    color: white;
    font-size: 25px;
    background: #ab5153;
    width: 200px;
    padding-left: 0px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.image-format {
    width: 180px;
    height: 180px;
    border-radius: 5px;
}

#info-format{
    font-size: 30px;
    color: white;
    background: #ab5153;
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: fit-content;
    padding-bottom: 5px;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#input-format {
    font-size: 20px;
    color: white;
    border: 3px solid white;
    background: #ab5153;
    border-radius: 7px;
    width: 325px;
    padding-left: 12px;
}

#balance-text-format {
    font-size: 30px;
    color: white;
    background: #ab5153;
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: fit-content;
}

#money-gambled-text-format {
    font-size: 30px;
    color: white;
    background: #ab5153;
    border-radius: 7px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: fit-content;
    margin-left: 20px;
}

#exit-button {
    font-size: 40px;
    color: white;
    text-align: center;
    background: #ab5153;
    border-radius: 7px;
    margin-top: 10px;
}

#upper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#column-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

::placeholder {
    color: white;
}