#dist {
    margin-top: 160px;
}

#title-format {
    color: white;
    font-size: 40px;
    margin-left: 10px;
    text-align: center;
}

#table-format{
    color: white;
    font-size: 25px;
    background: #ab5153;
    width: 250px;
    padding-left: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

#message-format {
    color: white;
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
}

#add-table-format {
    color: white;
    font-size: 25px;
    background: #ab5153;
    width: 100px;
    min-height: 50px;
    padding-left: 10px;
    border-radius: 5px;
    align-items: center;
}

#add-table-button-format {
   margin-top: 30px;
}