<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <listener>
    <listener-class>Listeners.ContextListener</listener-class>
  </listener>


  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>Servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LeaderboardServlet</servlet-name>
    <servlet-class>Servlets.LeaderboardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomepageServlet</servlet-name>
  	<display-name>HomepageServlet</display-name>
  	<description></description>
  	<servlet-class>Servlets.HomepageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>Servlets.TransferServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchUsersServlet</servlet-name>
    <servlet-class>Servlets.SearchUsersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FriendRequestsServlet</servlet-name>
    <servlet-class>Servlets.FriendRequestsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LeaderboardServlet</servlet-name>
    <url-pattern>/leaderboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/transfer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchUsersServlet</servlet-name>
    <url-pattern>/searchusers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomepageServlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FriendRequestsServlet</servlet-name>
    <url-pattern>/friendrequests</url-pattern>
  </servlet-mapping>

</web-app>