<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>

  <listener>
    <listener-class>Listeners.ContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>Servlets.TransferServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchUsersServlet</servlet-name>
    <servlet-class>Servlets.SearchUsersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlets.RegisterServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/transfer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchUsersServlet</servlet-name>
    <url-pattern>/searchusers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

</web-app>